<h1>Questions#answer</h1>

<div class="table">
  <p><%= @answer %></p>
  <p>- You</p>
</div>

  <br>
<div class="table"><%= @user %></div>
  <p>- Your coach</p>
<br>

<%= link_to "back home", ask_path %>
