<h1>Questions#ask</h1>
 <div class="form-group">
  <form action="/answer" method="get">
    <input type="text" name="question">
    <button type="submit" class="btn btn-primary btn-lg">Go!</button>
  </form>
</div>
